body {
  background-color: #191a19; 
  margin: 0; /* Remove margens padrão */
  height: 100vh; /* Faz com que o corpo cubra toda a altura da tela */
  display: flex; /* Usado para centralizar a calculadora */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

